
#navbar-text-color {
  color: white;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.media-artwork {
  max-width: 64px;
  max-height: 64px;
}

.media-card-item {
  margin-bottom: 20px;
} 

.player-container {
  margin-bottom: 200px;
}

.last-piece {
  margin-bottom: 200px;
}

/* stylelint-disable selector-list-comma-newline-after */
/* Simple player */
.simple-player-container{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-start;
}

.footer-minimize-player {
  background-color: #0c1824;
  padding: 5px 20px;
}

.simple-player-container > div {
  flex: 1;
  padding: 10px;
}

.simple-player-container > .simple-player-artwork > img {
  max-width:100%;
}

.simple-player-container > .simple-player-artwork > a > img {
  max-width:100%;
}

.simple-player-container > .simple-player-body {
  flex: 9;
}

.simple-player-body {
  display: flex;
  flex: 1;  
  flex-direction: column;
}

.simple-player-body > .main-content {
  display: flex;
  flex: 1;
  flex-direction: column;  
}


.simple-player-body > .main-content > .row-one {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  margin-bottom: 10px;
}

.simple-player-body > .main-content > .row-two {
  margin-top: 10px;
}

.simple-player-body > .slider {
  flex: 1;
  margin: 10px 0;
}

.simple-player-body > .main-content > .row-one > .name-black {
  color: black;
}

.simple-player-body > .main-content > .row-one > .date-string {
  font-size: 12px;
}

.simple-player-body > .player-control {
  display: flex;
  flex: 1;
  align-items: center;
}

.simple-player-body > .player-control > .play-time {  
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
}

.simple-player-body > .player-control > .play-time > div {
  margin-right: 10px;
}

@media only screen and (min-width: 700px) {
  .simple-player-body > .main-content > .row-one {
      flex-direction: row;
      flex: 1;
  }
  
  .simple-player-body > .main-content > .row-one > .date-string {
      margin-left: auto;
  }
}


/* End Simple player */

/*Landing page*/
.pricing-testimonials {
  margin-bottom: 100px;
}

/* subscribe button */

.icon-subscribe-button {
  display:flex;  
  align-items: center;  
  background-color: #E4E3E8;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  margin: 10px;  
}

.icon-subscribe-button:link {
  color: none;
}

.icon-subscribe-button > img {
  width: 26px;
  height: 26px;
}

.icon-subscribe-items {
  padding: 0 10px;
  display: flex;
  color: black;
  flex-direction: column;
  align-items: start;
}
.icon-subscribe-subtitle {
  font-size: 12px;
}

.icon-subscribe-title {
  font-size: 16px;
  font-weight: bold;
}

.private-podcast-subscribers-page-artwork-container {
  display: flex;  
  justify-content: center;
  padding: 20px;
}

.private-podcast-subscribers-page-artwork {
  width: 200px;
  height: 200px;
}


.host-list {
  max-width: 940px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px
}

.host-card {
  width: 280px;
  min-height: 500px;
  border-radius: 8px;
}

.host-card > .avatar {
  width: 280px;
  height: 280px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}

.host-card > .avatar-flex {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.host-card > .avatar-flex > .avatar-missing-img {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  display: flex;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.host-card-body {
  padding: 20px;
}

.host-card-body > .host-description {
  margin-top: 20px;
  cursor: pointer;
  /* overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;     */
}

.host-card-roles {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}