.navbar-brand-podcast {
  background-color: blue
}
/* .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.media-artwork {
  max-width: 64px;
  max-height: 64px;
}

.media-card-item {
  margin-bottom: 20px;
} */

/* stylelint-disable selector-list-comma-newline-after */
