.mobile-music-player {
  height: 600px;
  width: 265px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(-45deg, #e4eaee, #d0dee9);
  box-shadow: 13px 13px 20px #cbced1, -4px -4px 9px rgba(153, 153, 153, 0.4);
  border-radius: 30px;
  padding: 20px;
}

.mobile-music-player > .music-top-icon {
  width: 100%;
  height: 35px;
  padding: 0, 5px;
  display: flex;
  justify-content: space-between;
  color: #555;
}

.mobile-music-player > .music-top-icon > p {
  height: 30px;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

.mobile-music-player > .music-top-icon > .music-bar {
  height: 30px;
  width: 30px;
  line-height: 30px;
  background-color: #d0dee9;
  box-shadow: 0 0 0 4px #e2e8ee, 0 0 2px #fff, 8px 8px 15px #a7aaaf, -8px -8px 15px #fff;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}

.mobile-music-player > .music-album-photo {
  height: 180px;
  width: 180px;
  overflow: hidden;
  margin: 25px auto;
  border-radius: 50%;
  box-shadow:  0 0 0 6px #e2e8ee, 0 0 2px #fff, 13px 13px 20px #a7aaaf, -13px -13px 20px #fff;
}

.mobile-music-player > .music-album-photo > img {
  height: 180px;
  width: 180px;
}

.mobile-music-player > .music-detail {
  margin-top: 40px;
  text-align: center;
  font-family: sans-serif;
}

.mobile-music-player > .music-detail > h2 {
  color: #444;
  font-size: 20px;
}

.mobile-music-player > .music-detail > p {
  display: block;
  margin-top: 5px;
  color: #444;
  font-size: 13px;
}

.mobile-music-player > .play-timeline {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.mobile-music-player > .play-timeline > .time {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 9px;
  color: #666;
}

.mobile-music-player > .play-timeline > .timeline-bar {
  margin-top: 2px;
  height: 5px;
  width: 100%;
  background: rgba(163, 159, 159, 0.3);
  border: 1px solid rgba(163, 159, 159, 0.3);
  border-radius: 50%;
  /* cursor: pointer; */
}

.mobile-music-player > .music-changer {
  margin-top: 60px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.mobile-music-player > .music-changer > .prev,.pause,.next {
  /* height: 50px;
  width: 50px;
  line-height: 50px; */
  background-color: #d0dee9;
  border-radius: 50%;
  color: #555;
  box-shadow: 0 0 0 4px #e2e8ee, 0 0 2px #fff, 8px 8px 15px #a7aaaf, -8px -8px 15px #fff; 
  text-align: center;
}


.mobile-music-player > .music-changer > .prev,.next {
  height: 30px;
  width: 30px;
  line-height: 30px;
}

.mobile-music-player > .music-changer > .prev,.next > p {
  font-size: 10px;
}

.mobile-music-player > .music-changer > .pause {
  height: 50px;
  width: 50px;
  line-height: 50px;
}